.red-bottom-border {
    border-bottom: 3px solid red !important;
}
::ng-deep.table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: blue;
}