
   <div class="modal-header pt-4  pb-0 ml-0 ">
      <h4 class="modal-title pull-left">Item Description</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class = "modal-body">
      <div class="col-md-12">
         <div class="row">
            <form [formGroup] = "itemsForm" class="row g-3">
               <div class="col-md-6 my-2">
                 <label for="inputEmail4" class="form-label">Item Name</label>
                 <input type="text" class="form-control"  formControlName="itemName">
               </div>
               <div class="col-md-6 my-2">
                 <label for="inputPassword4" class="form-label">Item Quantity</label>
                 <input type="number" class="form-control" formControlName = "itemQuantity">
               </div>
               <div class="col-md-6 my-2">
                  <label for="inputPassword4" class="form-label">Unit Price</label>
                  <input type="number" class="form-control" formControlName = "unitPrice">
                </div>
                <div class = "col-md-6 my-2">
                  <label for="inputPassword4" class="form-label">Total Amount</label>
                  <input type="number" class="form-control" formControlName = "totalAmount">
                </div>
               </form>
         </div>
         
         <div class = "row justify-content-end mt-4">
            <button pButton pRipple type="button" label="Save" class="mx-4" (click)="onClickSave()"></button>
            <button pButton pRipple type="button" label="Reset" class="p-button-secondary ml-2" (click)="onReset()"></button>
         </div>
      </div>
   </div>

